@font-face{
    font-family: odu;
    src: url(Oduda-Bold-Demo.otf);
}
@font-face{
    font-family: ania;
    src: url(anianiefont.ttf);
}
@font-face {
    font-family: c;
    src: url(Culonite-Bold-1.otf);
}
body{
    background-color: rgb(253, 187, 223);
    margin: auto;
    padding: auto;
    overflow: hidden;
    background-image: url("8877892 (1).jpg");
    background-size: cover;
}
.uppername{
    align-content: absolute;
    margin-top: 10vh;
}
h1{
    text-align: center;
    font-size: 20vh;
    margin: auto;
    font-family: odu;
    color: rgb(110, 44, 185);
}
h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10vh;
}
.container{
    padding: 30px;
    text-align: center;
    font-size: 100%;
    background-color: white;
    width: 20%;
    border-radius: 10vh;
    cursor: pointer;
    border: none;
}
img{
    position: absolute;
    overflow: hidden;
}