@font-face{
    font-family: odu;
    src: url(Oduda-Bold-Demo.otf);
}
@font-face{
    font-family: ania;
    src: url(anianiefont.ttf);
}
@font-face {
    font-family: c;
    src: url(Culonite-Bold-1.otf);
}
body{
    background-color: rgba(245, 199, 205, 0.979);
    display: inline;
}
#header{
    align-items: center;
}
#Emae{
    text-align: center;
    font-size: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: odu;
    color: rgb(110, 44, 185);
}
#descrip{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.pres{
    align-content: center;
}
.butt{
    max-width: 200px;
    border-radius: 50px;
    background-color: rgb(175, 44, 131);
    outline: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}