body {
    font-family: sans-serif;
    margin: 0;
    position: relative;
    background-image: url("8877892 (1).jpg");
    background-size: cover;
  }
  
  .container {
    background-color: pink;
    width: 500px;
    top: 30vh;
    margin: 0 auto;
    border-radius: 6px;
    opacity: 50%;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  input {
    width: 50vh;
    padding:5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    width: 50vh;
  }