body {
    font-family: sans-serif;
    margin: 0;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }