<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap tp/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/stylehome.css">
    <link href="https://db.onlinewebfonts.com/c/b9b4e2e298a645a5868a6fa0c08bede3?family=Oduda+Bold" rel="stylesheet">
</head>
    <title>Document</title>
</head>
<body style="background: none; padding: 0;">
    <section class="finance1 d-flex flex-column" id="finance1">
        <div class="uprow d-flex w-100">
            <div class="bal d-flex">
                <div class="inc1 d-flex flex-row">
                    <img src="../static/finance_income.png" alt="income" class="income">
                    <p>Income</p>
                </div>
                <div class="inc" id="rad">
                    <p>{{ sumincome }}</p> <!-- ! -->
                </div>
                <div class="out1 d-flex flex-row">
                    <img src="../static/finance_outcome.png" alt="outcome" class="outcome">
                    <p>Outcome</p>
                </div>
                <div class="out" id="rad">
                    <p>{{ sumoutcome }}</p> <!-- ! -->
                </div>
                <div class="sav1 d-flex flex-row">
                    <img src="../static/finance_savings.png" alt="savings" class="savings">
                    <p>Savings</p>
                </div>
                <div class="sav" id="rad">
                    <p>{{ sumsavings }}</p> <!-- ! -->
                </div>
            </div>
            <div class="edit d-flex flex-column" id="rad">
                <form method="POST" class="editform"> <!-- ! -->
                <label for="income">Income</label>
                <input type="text" name="income" class="price" id="incomeprice" oninput="sanitizeInput(this)">
                <label for="outcome">Outcome</label>
                <input type="text" name="outcome" class="price" id="outcomeprice" oninput="sanitizeInput(this)">
                <label for="savings">Savings</label>
                <input type="text" name="savings" class="price" id="savingsprice" oninput="sanitizeInput(this)">
                <div class="category d-flex flex-column">
                    <label for="savings" id="categ">Categories</label>
                    <select id="catopt" name="categories">
                        <option name="food">Food</option>
                        <option name="edu">Education</option>
                        <option name="gas">Goods & Services</option>
                        <option name="fare">Fare</option>
                        <option name="other">Other</option>
                    </select>
                </div>
                <div class="but">
                    <button type="submit" id="fibut">Done</button>
                </div>
                <div>
                    <p>{{ message }}</p>
                </div>
                </form>
                <a href="javascript:location.reload(true)" class="fiload" target="_parent"><img src="../static/reload-svgrepo-com.png" class="fire w-100 "></a>
            </div>
            <div class="cat" id="rad">

                <!-- ! -->
                <div class="categoryhistory" style="background-color: #fff;">
                    <p>
                        <span class="topic">food</span>
                        <span class="catmon">{{ sum_food }}</span>
                    </p>
                </div>

                <div class="categoryhistory" style="background-color: #fff;">
                    <p>
                        <span class="topic">education</span>
                        <span class="catmon">{{ sum_education }}</span>
                    </p>
                </div>

                <div class="categoryhistory" style="background-color: #fff;">
                    <p>
                        <span class="topic">good & services</span>
                        <span class="catmon">{{ sum_goodsservices }}</span>
                    </p>
                </div>

                <div class="categoryhistory" style="background-color: #fff;">
                    <p>
                        <span class="topic">travelfare</span>
                        <span class="catmon">{{ sum_travelfare }}</span>
                    </p>
                </div>

                <div class="categoryhistory" style="background-color: #fff;">
                    <p>
                        <span class="topic">other</span>
                        <span class="catmon"> {{ sum_other }}</span>
                    </p>
                </div>
                <!-- ! -->


            </div>
        </div>
        <div class="downrow d-flex w-100">
            <div class="tea" id="rad">Save money and money will save you.</div>
            <a href="#finance2" class="his" id="box">
                History
            </a>
            </div>
        </div>
    </section>
    <script>
        function changeImage(element, newSrc) {
            element.src = newSrc;
        }
        const quotes = [
        "You are doing better than you think.",
        "Give yourself permission to rest.",
        "It is okay to feel lost sometimes.",
        "It is okay if today did not go as planned.",
        "Self-care is how you take your power back.",
        "It is okay to put yourself first.",
        "Those mistakes you have made along the way are." ,"lessons, not failure.",
        "Happiness looks good on you.",
        "Don’t you worry.",
        "Believe in what you prayed for.",
        "You are too smart to worry.",
        "Everything will be fine.",
        "Every day is a second chance.",
        "Give some more time to yourself.",
        "Your patient is your power.",
        "You did very well today.",
        "Things always get better.",
        "You are your priority."
        ];

        function getRandomQuote() {
            const randomIndex = Math.floor(Math.random() * quotes.length);
            const quoteElement = document.getElementById('quoteBox');
            quoteElement.innerText = quotes[randomIndex];
        }

        document.addEventListener('DOMContentLoaded', function () {
            getRandomQuote();
        });
        const imageSources = [
            "../static/food1.png",
            "../static/food2.png",
            "../static/food3.png",
            "../static/food4.png",
            "../static/food5.png",
            "../static/food6.png",
            "../static/food7.png",
            "../static/food8.png",
            "../static/food9.png",
            "../static/food10.png",
            "../static/food11.png",
            "../static/food12.png",
            "../static/food13.png",
            "../static/food14.png",
            "../static/food15.png",
            "../static/food16.png",
            "../static/food17.png",
            "../static/food18.png",
            "../static/food19.png",
            "../static/food20.png",
            "../static/food21.png",
            "../static/food22.png",
            "../static/food23.png",
            "../static/food24.png",
            "../static/food25.png",
            "../static/food26.png",
            "../static/food27.png",
            "../static/food28.png",
            "../static/food29.png",
            "../static/food30.png"
        ];

        function getRandomImageSource() {
            const randomIndex = Math.floor(Math.random() * imageSources.length);
            return imageSources[randomIndex];
        }

        function updateRandomImage() {
            const ranmElement = document.querySelector('.ranm');
            ranmElement.style.backgroundImage = `url('${getRandomImageSource()}')`;
        }

        document.addEventListener('DOMContentLoaded', function () {
            updateRandomImage();
        });
        setInterval(updateRandomImage, 300000);

        function sanitizeInput(input) {
            let sanitizedValue = input.value.replace(/[^0-9.]/g, '');

            if (sanitizedValue.trim() !== '' && !isNumeric(sanitizedValue)) {
                alert('Please enter a valid numeric value.');
                input.value = '';
            } else {
                input.value = sanitizedValue;
            }
        }
        function isNumeric(value) {
            return !isNaN(parseFloat(value)) && isFinite(value);
        }
        document.addEventListener('DOMContentLoaded', function () {
        const outcomePriceInput = document.getElementById('outcomeprice');
        const categLabel = document.getElementById('categ');
        const catoptSelect = document.getElementById('catopt');

        outcomePriceInput.addEventListener('input', function () {
            if (outcomePriceInput.value.trim() !== '') {
                categLabel.style.display = 'block';
                catoptSelect.style.display = 'block';
            } else {
                categLabel.style.display = 'none';
                catoptSelect.style.display = 'none';
            }
        });
    });
        </script>
</body>
</html>