@font-face{
    font-family: odu;
    src: url(Oduda-Bold-Demo.otf);
}
@font-face{
    font-family: ania;
    src: url(anianiefont.ttf);
}
@font-face {
    font-family: c;
    src: url(Culonite-Bold-1.otf);
}
body{
    margin: auto;
    padding: auto;
    background-image: url("ดีไซน์ที่ยังไม่ได้ตั้งชื่อ (2).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.uppername{
    margin-top: 5vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;

}
#text{
    animation-duration: 1.5s;
    animation-name: comefromtop;
}

@keyframes comefromtop {
    from{
        margin-top: -50%;
    }
    to{
        margin-top: 0%;
    }
}
@keyframes buttonfade {
    0%{
        margin-top: -20%;
        opacity: 0%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        margin-top: 0%;
        opacity: 100%;
    }
}
.emae{
    margin-left: 7%;
    width: 80%;
    height: 80%;
}
h2{
    text-align: center;
    font-size: 40px;
    margin-top: 3vh;
}
.button{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -60%);
    animation-duration: 2s;
    animation-name: buttonfade;
}
.container{
    padding: 20px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(247, 175, 187);
    width: 20vh;
    border-radius: 2vh;
    cursor: pointer;
    border: none;
    overflow: hidden;
    box-shadow: 0px 7px 10px 1px;

}
.mom{
    position: absolute;
    top: 43%;
    left: 26%;
    animation-name: mommy;
    animation-duration: 3s;
}
@keyframes mommy{
    0%{
        bottom: 50%;
    }
    100%{
        bottom: 0%;
    }
}
#maeee{
    position: absolute;
    width: 110vh;

}
#document{
    display: flex;
    transform: rotate(-14.587deg);
    width: 300px;
    overflow: hidden;
    filter: drop-shadow(10px 0px 40px rgba(247, 175, 20, 0.993));
    z-index: 3;
}