<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        form{
            position: absolute;
            left: 45%;
            top: 45%;
            width: 30vh;
        }
    </style>
    <form method="POST">
    <input type="number" min="0" max="10000000000" step="any" placeholder="income" name="income">
    <input type="number" min="0" max="10000000000" step="any" placeholder="outcome" name="outcome">
    <input type="number" min="0" max="10000000000" step="any" placeholder="savings" name="savings">
    <input type="number" min="0" max="10000000000" step="any" placeholder="category" name="category">
    <input type="submit"  alt="testinginput" name="testsubmit">
    <!-- <input type="datetime" name="datetime"> -->

    <!-- <p>{{message}}</p> -->


    </form>
</body>
</html>
