
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>
    <style>

    </style>
    <h1>To Do List</h1>
    <div>Add a new to item: 
        <form action="{{ url_for('add') }}" method="POST">
            <input type="text" name="todoitem">
            <input type="submit" value="Add Items">
        </form>
    </div>
    <div>
        <h2>Incomplete Items</h2>
        <ul>
            {% for todo in incomplete %}
            <li style="font-size: 20pt; list-style: none;" ><a href="{{ url_for('complete', id=todo.id) }}"><button></button></a>{{ todo.text }}</li>
            {% endfor %}
        </ul>
        <h2>Total Completed Items: {{ complete|length }}</h2>
        <h2>Total inCompleted Items: {{ incomplete|length }}</h2>
    </div>
</body>
</html>

